### Import libraries

In [1]:
import pandas as pd

## Reading questions_answers_tags.csv

In [3]:
merged = pd.read_csv("questions_answers_tags.csv", encoding = 'latin1')

,Id,CreationDate,Score,Title,Body,Tag
0,80,2008-08-01T13:57:07Z,26,SQLStatement.execute() - multiple queries in o...,I've written database generation script SQL wa...,"flex,actionscript-3,air"
3,90,2008-08-01T14:41:24Z,144,Good branching and merging tutorials for Torto...,Are really good tutorials explaining branching...,"svn,tortoisesvn,branch,branching-and-merging"
6,120,2008-08-01T15:50:08Z,21,ASP.NET Site Maps,Has anyone got experience creating SQL-based A...,"sql,asp.net,sitemap"
7,180,2008-08-01T18:42:19Z,53,Function for creating color wheels,This something I've pseudo-solved many times n...,"algorithm,language-agnostic,colors,color-space"
16,260,2008-08-01T23:22:08Z,49,Adding scripting functionality to .NET applica...,I little game written C#. It uses database bac...,"c#,.net,scripting,compiler-construction"
...,...,...,...,...,...,...
2014509,40142860,2016-10-19T23:01:07Z,0,Adding large data in Excel,"I around 200,000 data excel separated per 15mi...","excel,excel-formula"
2014510,40142900,2016-10-19T23:05:07Z,0,LinkedIN Encounter error: Your application has...,I able connect LinkedIn API two months everyth...,"api,oauth,linkedin"
2014511,40142910,2016-10-19T23:05:49Z,0,Validation for must_be_below_user_limit allowi...,So I Am building multi-tenant app Rails 4 Apar...,"ruby-on-rails,validation,ruby-on-rails-4"
2014512,40142940,2016-10-19T23:08:42Z,-1,Drawing an iscosceles triangle of asteriks on C++,I learning c++ I'm trying draw iscosceles tria...,c++
2014514,40143190,2016-10-19T23:36:01Z,1,How to execute multiline python code from a ba...,I need extend shell script (bash). As I much f...,"python,bash,multiline"

## Remove Answer_Body and Answer_Score columns

In [ ]:
merged = merged.drop(['Answer_Score','Answer_Body'],axis=1)

## Drop duplicates that have been created due to removal of Answer data

In [ ]:
merged = merged.drop_duplicates()

## Saving QAs_cleaned.csv file

In [ ]:
merged.to_csv('QAs_cleaned.csv',encoding='latin1')